/* Extra Small Area Start */

@media (max-width: 575.98px) {
  /* Notice Area Start */
  .newsNnotice-main {
    display: block;
  }

  .newsNevent-cards {
    display: block;
  }

  .news-card {
    margin-bottom: 40px;
  }

  .news-title h3 {
    font-size: 30px;
  }

  .notice-title h3 {
    font-size: 30px;
    margin-top: 30px;
  }

  .news-card {
    width: 100%;
    box-shadow: 0px 0px 19px 6px rgba(179, 179, 179, 0.75);
  }
  /* Notice Area End */

  /* Research Area Start */
  .research-title h3 {
    font-size: 18px;
    margin: 30px 0;
  }

  .research-title::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 20%;
    background-color: #7b0201;
    top: 10px;
    left: 0;
  }

  .research-title::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 20%;
    background-color: #7b0201;
    top: 10px;
    right: 0;
  }
  /* Research Area End */

  /* Gallery Area Start */
  .contact-map {
    display: none;
  }

  .gallery-title h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  /* Gallery Area End */

  /* Footer Area Start */
  .footer-main {
    display: block;
  }

  .footer-head2 {
    text-align: center;
  }

  .contact-icon {
    margin-left: 10%;
  }

  .footer-head3 {
    justify-content: center;
    text-align: center;
  }

  .footer-links {
    margin-left: 8%;
    text-align: start;
  }
  /* Footer Area End */
}
/* Extra Small Area End */

/* Small Area Start */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Notice Area Start */
  .newsNnotice-main {
    display: block;
  }

  .newsNevent-cards {
    display: block;
  }

  .news-card {
    margin-bottom: 40px;
  }

  .news-title h3 {
    font-size: 40px;
  }

  .notice-title h3 {
    font-size: 40px;
    margin-top: 30px;
  }

  .news-card {
    width: 100%;
    box-shadow: 0px 0px 19px 6px rgba(179, 179, 179, 0.75);
  }
  /* Notice Area End */

  /* Research Area Start */
  .research-title h3 {
    font-size: 28px;
    margin: 30px 0;
  }

  .research-title::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 25%;
    background-color: #7b0201;
    top: 15px;
    left: 0;
  }

  .research-title::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 25%;
    background-color: #7b0201;
    top: 15px;
    right: 0;
  }
  /* Research Area End */

  /* Gallery Area Start */
  .contact-map {
    display: none;
  }
  .gallery-title h3 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  /* Gallery Area End */

  /* Footer Area Start */
  .footer-main {
    display: block;
  }

  .footer-head2 {
    text-align: center;
  }

  .contact-icon {
    margin-left: 22%;
  }

  .footer-head3 {
    justify-content: center;
    text-align: center;
  }

  .footer-links {
    text-align: start;
    margin-left: 15%;
  }
  /* Footer Area End */
}
/* Small Area End */

/* Medium Area Start */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Notice Area Start */
    .newsNnotice-main {
      display: block;
    }
  
    .newsNevent-cards {
      display: block;
    }
  
    .news-card {
      margin-bottom: 40px;
    }
  
    .news-title h3 {
      font-size: 40px;
    }
  
    .notice-title h3 {
      font-size: 40px;
      margin-top: 30px;
    }
  
    .news-card {
      width: 100%;
      box-shadow: 0px 0px 19px 6px rgba(179, 179, 179, 0.75);
    }
    /* Notice Area End */
  
    /* Research Area Start */
    .research-title h3 {
      font-size: 28px;
      margin: 30px 0;
    }
  
    .research-title::after {
      position: absolute;
      content: "";
      height: 5px;
      width: 25%;
      background-color: #7b0201;
      top: 15px;
      left: 0;
    }
  
    .research-title::before {
      position: absolute;
      content: "";
      height: 5px;
      width: 25%;
      background-color: #7b0201;
      top: 15px;
      right: 0;
    }
    /* Research Area End */
  
    /* Gallery Area Start */
    .contact-map {
      display: none;
    }
    .gallery-title h3 {
      font-size: 40px;
      margin-bottom: 25px;
    }
    /* Gallery Area End */
  
    /* Footer Area Start */
    .footer-main {
      display: block;
    }
  
    .footer-head2 {
      text-align: center;
    }
  
    .contact-icon {
      margin-left: 22%;
    }
  
    .footer-head3 {
      justify-content: center;
      text-align: center;
    }
  
    .footer-links {
      text-align: start;
      margin-left: 20%;
    }
    /* Footer Area End */

}
/* Medium Area End */

/* Large Area Start */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .notice-title h3{
    font-size: 32px;
  }
  .news-title h3{
    font-size: 32px;
  }
}
/* Large Area End */
